{% extends 'base.html.twig' %}

{% block title %}Commerçants - {{ categorie|capitalize }}{% endblock %}

{% block body %}
    <h1>Commerçants ({{ categorie|capitalize }})</h1>

    <div class="row">
        {% for commercant in commercants %}
            <div class="col-md-4">
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ commercant.nom }}</h5>
                        <p class="card-text">{{ commercant.description }}</p>
                        <a href="{{ path('detail', {id: commercant.id}) }}" class="btn btn-primary">Voir le détail</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun commerçant trouvé dans cette catégorie.</p>
        {% endfor %}
    </div>
{% endblock %}
